body{
    margin: 0;
    background-color: #45badd
}
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background:url(https://cdn.dribbble.com/users/22930/screenshots/2443275/media/ef9367e0637ca4e63452b6bfb6a9f3cd.gif);
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
}
#bt{
    width:200px;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 7px;
    box-shadow: 5px 2px 5px rgba(229, 221, 221,0.5);
    background: #ff3482;
    cursor: pointer;
}
#bt:hover{
    transform: scale(0.98);
}
#bt:disabled{
    cursor: default;
    transform: scale(0.78);
}
/* Media queries */
@media only screen and (max-width:1000px )
{
    .container{
        background-position: center center;
        background-size: cover;
    }
    #bt{
        width: 150px;
        height: 35px;
    }
}